<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <% include ../../public/head.ejs %>
  </head>
  <body>
    <h1 style="color: white; text-shadow: 3px 3px black;">About This Project</h1>

    <h3 style="color: white; text-shadow: 3px 3px black;">This was a project for my software engineering course through General Assembly. The goal was to create a full CRUD app using the 7 RESTful routes. I included user authentication, encryption, and user id info so that only the specific user can access their created data.</h3>
    <h3 style="color: white; text-shadow: 3px 3px black;">Technologies used include: Node.js, Heroku, Mongoose, Express, EJS, BCrypt, MongoDB</h3>
  </body>
</html>
