<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../../public/head.ejs %>
  </head>
  <body>
    <h1>Edit Entry</h1>
    <form style="background: white; border-radius: 5px; width: 50%; left: 25%; position: relative;" class="" action="/entries/<%=entry.id%>?_method=PUT" method="POST">
      <input type="text" name="date" value="<%=entry.date%>">
      <input type="text" name="title" value="<%=entry.title%>">
      <input type="text" name="entry" value="<%=entry.entry%>">
      <input class="waves-effect waves-light btn" type="submit" value="Submit">
    </form>
  </body>
</html>
