<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../../partials/head.ejs %>
  </head>
  <body>
    <h1>Edit Entry</h1>
    <form class="" action="/entries/<%=entry.id%>?_method=PUT" method="POST">
      <input type="text" name="date" value="<%=entry.date%>">
      <input type="text" name="title" value="<%=entry.title%>">
      <input type="text" name="entry" value="<%=entry.entry%>">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
