<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../../public/head.ejs %>
  </head>
  <body>
    <h1 style="color: white; text-shadow: 3px 3px black;">Create a New Entry</h1>
    <form style="background: white; border-radius: 5px; width: 50%; left: 25%; position: relative;" class="" action="/entries" method="POST">
      <input type="text" name="date" value="<%=new Date().toLocaleDateString()%>">
      <input type="text" name="title" placeholder="Title">
      <input type="text" name="entry" placeholder="Journal Entry">
      <input class="waves-effect waves-light btn" type="submit" value="Create Entry">
    </form>
  </body>
</html>
