<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <% include ../../public/head.ejs %>
    </head>
    <body style="text-align: center;">
        <h1><%=entry.title%></h1>
        <%=entry.date%>
        <p style="background: white; border-radius: 5px; width: 50%; left: 25%; position: relative;"><%=entry.entry%></p>

        <a class="waves-effect waves-light btn" href="/app">Back to Index</a>
    </body>
</html>
