<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <% include ../../public/head.ejs %>
    </head>
    <body>
        <h1>Entries show page</h1>
        <%=entry.date%>
        <h3><%=entry.title%></h3>
        <p><%=entry.entry%></p>

        <nav>
            <a href="/app">Back to Index</a>
        </nav>
    </body>
</html>
